.navbar__main {
	max-width: 1200px;
	margin: auto;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 30px 0;
}
.navbar__brandLogo {
	height: 30px;
	cursor: pointer;
}
.navbar__brandLogo img {
	height: 100%;
	width: 100%;
	object-fit: contain;
}
.navbar__userLinks {
	display: flex;
}
.navbar__userLinks h3 {
	cursor: pointer;
	color: white;
	font-weight: 400;
	margin-left: 20px;
}
.navbar__userLinks h3:hover {
	color: #f34989;
}
.hero__register {
	all: unset;
	font-family: Helvetica, Arial, sans-serif;
	display: inline-block;
	max-width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #f24489;
	color: #fff;
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-size: 16px;
	border-radius: 7px;
	padding: 0.5rem 2rem;
	margin-top: 20px;

	height: 40px;
	cursor: pointer;
	line-height: 40px;
	text-align: center;
	margin: 0;
	text-decoration: none;
	transition: all 0.3s ease-in-out;
}
.hero__register:hover {
	background-color: #fd2176;
}

@media screen and (max-width: 1024px) {
	.navbar__main {
		/* display: none; */
	}
}
